---
import Social from './Social.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>


<footer>
   
  <!--<p>在 <a href={`https://www.${platform}.com/${username}`}>{platform}</a> 上，了解有关我的项目的更多信息！</p><!-->
  <Social platform="github" username="trf2476" />
    <Social platform="gitee" username="trf2476" />
    <Social platform="gitcode" username="trf2476" />
</footer>